Source: printrun
Section: comm
Priority: optional
Maintainer: Richard Ulrich <richi@paraeasy.ch>
Build-Depends: python, debhelper
standards-Version: 3.8.1.0
Homepage: http://sourceforge.net/projects/flightpred

Package: printrun-base
Architecture: all
Essential: no
Depends: ${misc:Depends}, python-serial, menu
Description: A host software for the RepRap 3d printer. 
 It works well with the teacup firmware and Gen7 electronics.
 The base package contains the commandline client. 
 It can be installed onto a bifferboard or similar that is attached to the RepRap.

Package: printrun-gui
Architecture: all
Essential: no
Depends: ${misc:Depends}, menu, printrun-base, python-wxgtk2.8, python-tk, skeinforge
Description: A host software for the RepRap 3d printer. 
 It works well with the teacup firmware and Gen7 electronics.
 The gui package contains the graphical user interface.


