Source: printrun
Section: comm
Priority: optional
Maintainer: Scott Howard <showard@debian.org>
Build-Depends: python, debhelper
standards-Version: 3.9.3
Homepage:

Package: printrun-base
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-serial
Description: A host software for the RepRap 3d printer. 
 It works well with the teacup firmware and Gen7 electronics.
 The base package contains the commandline client. 
 It can be installed onto a bifferboard or similar that is attached to the RepRap.

Package: printrun-gui
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, printrun-base, python-wxgtk2.8, python-tk, skeinforge, python-pyglet
Description: A host software for the RepRap 3d printer. 
 It works well with the teacup firmware and Gen7 electronics.
 The gui package contains the graphical user interface.


