[Desktop Entry]
Name=Printrun
Comment=Control program for RepRap 3d printers
GenericName=RepRap Host
Exec=/usr/bin/pronterface
Path=/usr/bin/pronterface
Terminal=false
Icon=/usr/share/printrun/plater.ico
Categories=Graphics;Science;Engineering
Type=Application
MimeType=application/stl;
